{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Inicio | OpenRed{% endblock %}

{% block extra_head %}
<!-- Mapbox and deck.gl CDN -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
<script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>

<!-- noUiSlider CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>

<!-- Custom JS -->
<script src="{% static 'frontend/js/map.js' %}"></script>

<script>
    window.MAPBOX_ACCESS_TOKEN = "{{ mapbox_token }}";
    window.csrfToken = "{{ csrf_token }}";
</script>
{% endblock %}

{% block base_content %}
<div class="container-fluid h-100">
    <!-- Slider Controls -->
    <div id="slider-container" class="bg-light p-3 mt-5">
        <h5>Seleccionar Rango de Fechas</h5>
        <div id="slider" class="slider"></div>
        <div id="slider-value">
            Desde: <span id="start-value" class="small"></span><br />
            Hasta: <span id="end-value" class="small"></span>
        </div>
        <h5>Seleccionar Intensidad</h5>
        <div id="slider-intensity" class="slider"></div>
        <div id="slider-intensity-value">
            Desde: <span id="intensity-start-value" class="small"></span><br />
            Hasta: <span id="intensity-end-value" class="small"></span>
        </div>
        <h5>Seleccionar Campaña</h5>
        <select id="campaign-select" class="form-select mb-3">
            <option value="">-- Selecciona una campaña --</option>
            {% for campaign in campaigns %}
                <option value="{{ campaña.id }}">{{ campaign }}</option>
            {% endfor %}
        </select>


    </div>

    <!-- Mapa -->
    <div id="map-container" class="w-100 h-100 position-relative"></div>

    <!-- Popup -->
    <div id="popup"
        style="position: absolute; display: block; background: white; padding: 5px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); z-index: 100;">
        <p id="popup-content"></p>
    </div>
</div>
{% endblock %}
